version: "3.9"

services:
  backend:
    build: ./backend
    container_name: agreement-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: agreement-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: agreement-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: